<h2><%= t '.title' %></h2>

<%= form_tag update_multiple_bios_path, :method => :put do %>
	<ul id="tabs">
		<% for bio in @bios %>
			<li>
			 	<a href="#" title="<%= bio.language.locale %>">
				 	<%= image_tag bio.language.flag, :height => '15' %>
					<span>
						<%= bio.language.name %>
					</span>
				</a>
			</li>
		<% end %>
	</ul>

	<div id="tabs_contents">
		<% for bio in @bios %>
			<div id="<%= bio.language.locale %>">
				<%= fields_for 'bios[]', bio do |f| %>
					<p>
						<%= f.label :content %>
						<%= f.text_area :content %>
					</p>
				<% end %>
			</div>
		<% end %>
	</div>

	<%= submit_tag 'Update Bio' %>
<% end %>