<%= form_for(@job) do |f| %>
  <%= f.fields_for :job_descriptions do |builder| %>
    <%= render 'job_description_fields', :f => builder %>
  <% end %>
  <ul>
    <%= f.fields_for :thumbs do |builder| %>
      <%= render 'thumbs_fields', :f => builder %>
    <% end %>
    <li>
      <%= f.label :isShown %>
      <%= f.check_box :isShown %>
    </li>
  </ul>
  <%= f.submit 'Submit' %>
<% end %>