<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@job.errors.count, "error") %> prohibited this language from being saved:</h3>
    </div>
  <% end %>

  <ul id="tabs">
    <% for job_description in @job.job_descriptions do %>
      <li>
        <a href="#" title="<%= job_description.language.locale %>">
          <%= image_tag job_description.language.flag, :height => '15' %>
          <span>
            <%= job_description.language.name %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>

  <div id="tabs_contents">
    <%= f.fields_for :job_descriptions, @job.job_descriptions do |job_descriptions_fields| %>
      <%= job_descriptions_fields.hidden_field :language_id %>
      <div id="<%= job_descriptions_fields.object.language.locale %>">
        <p>
          <%= job_descriptions_fields.label :title %>
          <%= job_descriptions_fields.text_field :title %>
        </p>
        <p>
          <%= job_descriptions_fields.label :description %>
          <%= job_descriptions_fields.text_area :description %>
        </p>
      </div>
    <% end %>
  </div>

  <article id="article_pictures">
    <%= label_tag 'Pictures' %>
    <span class="hint">
      *click on the pictures to change them
    </span>
    <p>
      <%= f.fields_for :thumbs, @job.thumbs[0] do |thumb_fields| %>
        <div id="thumb0" class="thumb">
          <% unless thumb_fields.object.picture.blank? %>
            <%= image_tag thumb_fields.object.picture.thumb %>
          <% else %>
            <div class="no_image"><span>ADD IMAGE</span></div>
          <% end %>
          <%= thumb_fields.file_field :picture %>
        </div>
      <% end %>
      <%= f.fields_for :thumbs, @job.thumbs[1] do |thumb_fields| %>
        <div id="thumb1" class="thumb">
          <% unless thumb_fields.object.picture.blank? %>
            <%= image_tag thumb_fields.object.picture.thumb %>
          <% else %>
            <div class="no_image"><span>ADD IMAGE</span></div>
          <% end %>
          <%= thumb_fields.file_field :picture %>
        </div>
      <% end %>
      <%= f.fields_for :thumbs, @job.thumbs[2] do |thumb_fields| %>
        <div id="thumb2" class="thumb">
          <% unless thumb_fields.object.picture.blank? %>
            <%= image_tag thumb_fields.object.picture.thumb %>
          <% else %>
            <div class="no_image"><span>ADD IMAGE</span></div>
          <% end %>
          <%= thumb_fields.file_field :picture %>
        </div>
      <% end %>
    </p>
    <p>
      <%= f.label :isShown %>
      <%= f.check_box :isShown %>
    </p>
  </article>

  <%= f.submit %>
  <span class='cancel_button'>
    <%= link_to 'Cancel', jobs_path %>
  </span>
<% end %>