<fieldset>
  <legend>
    <%= image_tag :language %>
    <%= :language %>
  </legend>
  <ul>
    <li>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </li>
    <li>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </li>
  </ul>
</fieldset>