<%= form_for(@language) do |f| %>
  <% if @language.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@language.errors.count, "error") %> prohibited this language from being saved:</h3>
    </div>
  <% end %>
  <article>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= error_tag @language, :name %>
    </p>
    <p>
      <%= f.label :locale %>
      <%= f.text_field :locale %>
      <%= error_tag @language, :locale %>
    </p>
    <p>
      <% unless @language.flag.blank? %>
        <%= image_tag @language.flag %>
      <% end %>
      <%= f.label :flag %>
      <%= f.file_field :flag %>
      <%= error_tag @language, :flag %>
    </p>
  </article>
  
  <%= f.submit %>
  <span class='cancel_button'>
    <%= link_to 'Cancel', jobs_path %>
  </span>
<% end %>