<h2>Languages</h2>

<br />

<span class="add_button">
  <%= link_to '+ ADD', new_language_path %>
</span>

<br />
<br />

<% @languages.each do |language| %>
	<article class="item">
		<div>
	  	<%= image_tag language.flag %>
    </div>
    <div>
    	<%= label_tag :name %>
    	<%= language.name %>
	  </div>
	  <div>
	  	<%= label_tag :locale %>
    	<%= language.locale %>
	  </div>

	  <div class="icons">
    	<%= link_to raw('<i class="icon-edit icon-large"></i>'), edit_language_path(language) %>
  	  <%= link_to raw('<i class="icon-remove icon-large"></i>'), language, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	</article>
<% end %>