<h2>Languages</h2>

<br />

<%= link_to '+ ADD', new_language_path %>

<br />

<ul>
<% @languages.each do |language| %>
  <li>
    <%= image_tag language.flag %>
    <%= language.name %>
    <%= language.locale %>
    <%= link_to 'Edit', edit_language_path(language) %>
    <%= link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
<% end %>
</ul>