<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <%= error_tag @user, :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
    <%= error_tag @user, :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
    <%= error_tag @user, :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :isAdmin %><br />
    <%= f.check_box :isAdmin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>