<h2><%= t '.title' %></h2>

<br />

<span class="add_button">
  <%= link_to t('links.add'), new_user_path %>
</span>

<br />
<br />

<% @users.each do |user| %>
	<article class="item">
		<div>
	  	<%= label_tag t('activerecord.attributes.user.email') %>
	    <%= user.email %>
    </div>
    <div>
	  	<%= label_tag t('activerecord.attributes.user.isAdmin') %>
	  	<span>
	    	<%= user.isAdmin ? raw('<i class="icon-ok green"></i>') : raw('<i class="icon-remove red"></i>') %>
	  	</span>
	  </div>		

	  <div class="icons">
    	<%= link_to raw('<i class="icon-edit icon-large"></i>'), edit_user_path(user) %>
  	  <%= link_to raw('<i class="icon-remove icon-large"></i>'), user, method: :delete, data: { :confirm => t('dialogs.confirm') } %>
		</div>
	</article>
<% end %>