<div id="contact-form">
	<p>
		<%= link_to 'contato@caioduarte.com', 'mailto:contato@caioduarte.com' %>
		<br />
		+55 (11) 9.8265-1811
	<p>
	<%= form_for @contact do |f| %>
		<div>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div>
			<%= f.label :subject %>
			<%= f.text_field :subject %>
		</div>
		<div>
			<%= f.label :message %>
			<%= f.text_area :message %>
		</div>
		<div>
			<%= f.submit %>
		</div>
	<% end %>
</div>
<div id="letters">
</div>