<p id="notice"><%= notice %></p>

<p>
  <b>Picture:</b>
  <%= @thumb.picture %>
</p>

<p>
  <b>Job:</b>
  <%= @thumb.job %>
</p>


<%= link_to 'Edit', edit_thumb_path(@thumb) %> |
<%= link_to 'Back', thumbs_path %>
