<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <%= t 'general.form_error' %>
    </div>
  <% end %>

  <article>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= error_tag @user, :name %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= error_tag @user, :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= error_tag @user, :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <%= error_tag @user, :password_confirmation %>
    </p>
  </article>
    
  <%= f.submit %>
  <span class='cancel_button'>
    <%= link_to t('links.cancel'), admin_users_path %>
  </span>
<% end %>