<%= form_for(@job_description) do |f| %>
  <% if @job_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_description.errors.count, "error") %> prohibited this job_description from being saved:</h2>

      <ul>
      <% @job_description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :job %><br />
    <%= f.text_field :job %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
