<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job_description.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job_description.description %>
</p>

<p>
  <b>Language:</b>
  <%= @job_description.language %>
</p>

<p>
  <b>Job:</b>
  <%= @job_description.job %>
</p>


<%= link_to 'Edit', edit_job_description_path(@job_description) %> |
<%= link_to 'Back', job_descriptions_path %>
