<!DOCTYPE html>
<html>
<head>
  <title><%= t '.title' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div id="header-wrap">
			<h1>
				<%= link_to image_tag('/assets/logo.svg', :height => '90'), root_path %>
			</h1>
			<nav id="menu" class="<%= 'home_page' if _routes_context.class.name == 'HomeController' %>">
				<ul>
					<li>
						<%= link_to 'bio', bio_path, :class => ('selected' if _routes_context.class.name == 'BiosController') %>
					</li>
					<li>
						<div class="left-line"></div>
					</li>
					<li>
						<%= link_to 'jobs', jobs_path, :class => ('selected' if _routes_context.class.name == 'JobsController') %>
					</li>
					<li>
						<div class="right-line"></div>
					</li>
					<li>
						<%= link_to 'contact', new_contacts_path, :class => ('selected' if _routes_context.class.name == 'ContactsController') %>
					</li>
				</ul>
			</nav>
			<nav id="social-media">
				<ul>
					<li><%= link_to image_tag('/assets/facebook_icon.png'), 'http://facebook.com/CaiioMV', :alt => 'Facebook', :target => '_blank' %></li>
					<li><%= link_to image_tag('/assets/twitter_icon.png'), 'http://twitter.com/CaiioMV', :alt => 'Twitter', :target => '_blank' %></li>
					<li><%= link_to image_tag('/assets/google_icon.png'), 'ichat:ca.andrade.duarte@gmail.com', :alt => 'Gtalk', :target => '_blank' %></li>
					<li><%= link_to image_tag('/assets/linkedin_icon.png'), 'http://linkedin.com/profile/view?id=220742311', :alt => 'Linkedin', :target => '_blank' %></li>
					<li><%= link_to image_tag('/assets/github_icon.png'), 'http://github.com/caandradeduarte', :alt => 'Github', :target => '_blank' %></li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="content" class="<%= 'home_page' if _routes_context.class.name == 'HomeController' %>">
		<%= yield %>
	</section>
	<footer>
		<div id="footer-wrap">
			<p>
				© Caio Augusto Andrade Duarte - 2013
			</p>
			<nav id="languages">
				<ul>
					<% languages.each do |language| %>
						<li>
							<%= link_to image_tag(language.flag, :alt => language.name), :locale => language.locale %>
						</li>
					<% end %>
				</ul>
			</nav>
		</div>
	</footer>
</body>
</html>
