<!DOCTYPE html>
<html>
<head>
  <title><%= t '.title' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div id="header-wrap">
			<h1>
				<%= link_to image_tag('/assets/logo133x45.png', :alt => t('.title'), :title => t('.logo_title') ), root_path %>
			</h1>
			<nav>
				<ul>
					<li><%= link_to t('layout.users'), users_path %></li>
					<li><%= link_to t('layout.languages'), languages_path %></li>
					<li><%= link_to t('layout.bio'), edit_multiple_bios_path %></li>
					<li><%= link_to t('layout.jobs'), jobs_path %></li>
					<li>
						<% unless user_signed_in? %>
							<%= link_to t('layout.login'), new_user_session_path %>
						<% else %>
							<%= link_to t('layout.logout'), user_sessions_path, :method => :delete %>
						<% end %>
				</ul>
			</nav>
		</div>
	</header>
	<div id="content">
		<% if notice.present? %>
			<p id="notice"><%= notice %></p>
		<% end %>
		<% if alert.present? %>
			<p id="alert"><%= alert %></p>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
