<!DOCTYPE html>
<html>
<head>
  <title>Caio Duarte</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div id="header-wrap">
			<h1>
				<%= link_to image_tag('/assets/logo133x45.png', :alt => 'Caio Duarte', :title => 'Click to go back home page'), root_path %>
			</h1>
			<nav>
				<ul>
					<li><%= link_to "Users", users_path %></li>
					<li><%= link_to "Languages", languages_path %></li>
					<li><%= link_to "Bio", edit_multiple_bios_path %></li>
					<li><%= link_to "Jobs", jobs_path %></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="content">
		<% if notice.present? %>
			<p id="notice"><%= notice %></p>
		<% end %>
		<% if alert.present? %>
			<p id="alert"><%= alert %></p>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
